/*!widget/footer/footer.scss*/
.bottom-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background: #292525;
}

/*!widget/header/header.scss*/
.top-header {
  text-align: center;
}

/*!widget/list/list.scss*/
.list-item {
  border-bottom: 1px solid #f2f2f2;
}

.list-item img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}

.list-item img.img-attack {
  margin-right: 15px;
  float: left;
}

.list-item img.img-guard {
  margin-left: 15px;
  float: right;
}

.list-item .attack {
  float: left;
}

.list-item .guard {
  float: right;
}

.list-item button {
  float: right;
  margin-top: -70px;
  margin-right: 20px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border: 1px solid #f2f2f2;
  outline: none;
  cursor: pointer;
}
