.list-item{
	border-bottom:1px solid #f2f2f2;

	img{
		
		width:40px;
		height: 40px;
		
		margin-top:30px;

		&.img-attack{
			margin-right:15px;
			float:left;
		}

		&.img-guard{
			margin-left:15px;
			float:right;
		}
	}

	.attack{
		float:left;
	}
	.guard{
		float:right;
	}

	button{
		float:right;
		margin-top:-70px;
		margin-right:20px;
		width:100px;
		height:40px;
		line-height: 40px;
		text-align: center;
		color:#fff;
		border:1px solid #f2f2f2;
		outline:none;
		cursor: pointer;
	}
}